*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h2{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family:'Ubuntu', sans-serif ;
    line-height: 1.5;
}





/* navigation bar */










/* title  */




.title{
    height:400px;
    width: 100%;
    background-image: url(../images/about-us/title-pic.jpg);    
    
    /* for making background-image responsive  */

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    color: #fff;
    text-align: center;
    line-height: 400px;
    font-weight: bolder;
    
    
}

.title h1{
    font-weight: 600;
}









/* section1   */




.section1{
    
    background-color: #fff;
    padding: 8% 10% ;
}

.section1-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section1-info img{
    height: 350px;
    width: 550px;
    margin-right: 3%;
    
}


.section1-info h2{
    margin-bottom: 5%;
    color: #242323e8;
    font-size: 1.5rem;
    font-weight: 600;
}


.section1-info p{
    width: 600px;
    font-size: 1.1rem;
    letter-spacing: 1.3px;
    color: #413f3fcf;
    margin-bottom: 5%;
}




.section1-info ul{
    padding-left: 3%;
    font-family:'Ubuntu', sans-serif ;
    line-height: 1.5;
    font-size: 1rem;
    letter-spacing: 1.3px;
    color: #413f3fcf;
}

.section1-info ul li{
    width:570px ;
    margin: 3% 0%;

}
@media(max-width: 1480px){

    .section1{   
        
        padding: 8% 0 ;
    }

    .section1-info{
        margin: 0px auto;
        width: 90%;
    }
    .section1-info img{
        height: 300px;
        width: 450px;
        margin-right: 3%;
        margin-left: 3%;
        
    }

    .section1-info p{
        width: 500px;
        
    }

    .section1-info ul li{
        width:480px ;
        margin: 3% 0%;
    
    }

    
}


@media(max-width: 1132px){

    .section1-info img{
        height: 280px;
        width: 400px;
    }

}


@media(max-width: 1080px){

    .section1-info p{
        width: 350px;
        font-size: 1rem;     
        
    }
    

    .section1-info ul{
        padding-left: 3%;        
        font-size: 0.8rem;
        
    }
    
    .section1-info ul li{
        width:320px ;
        margin: 3% 0%;
    
    }

}


@media(max-width: 1024px){
    .section1{   
        
        padding: 8% 2% ;
    }
    
    
    .section1-info img{
        height: 280px;
        width: 350px;
        margin-right: 3%;
        margin-left: 5%;
        
    }
    .section1-info p{
        width: 400px;
        font-size: 0.9rem;       
        margin-bottom: 5%;
    }
    

    .section1-info ul{
        padding-left: 3%;        
        font-size: 0.8rem;
        
    }
    
    .section1-info ul li{
        width:380px ;
        margin: 3% 0%;
    
    }


}

@media(max-width: 945px){
    .section1-info img{
        width: 340px;
        margin-right: 3%;
        margin-left: 3%;
    }
}

@media(max-width: 915px){
    .section1-info img{
        width:300px ;
        height: 300px;
        margin-right: 3%;
        margin-left: 3%;
    }

   
}


@media(max-width: 872px){

    .section1-info img{
        width:280px ;
        height: 300px;
        margin-right: 2%;
        margin-left: 0%;
    }

    .section1-info p{
        width: 340px;
    }

    .section1-info ul li{
        width:320px ;
           
    }

}



@media(max-width: 768px){
    .section1{
        width: 100%;
        padding: 8% 5% ;
    }

    .section1-info{
        width: 100%;
        text-align: center;
        
    }

    .section1-info img{
        width: 90%;
        margin: 0px auto 50px auto;
    }

    .section1-info p{
        width: 90%;
        margin: 0px auto 30px auto;
        text-align: left;
        
    }

    .section1-info ul{
        width: 90%;
        margin: 0px auto;
        text-align: left;
    }
    .section1-info li{
        width: 90%;
    }
}

@media(max-width: 367px){
    .section1-info {
        width: 100%;
    }

    .section1-info ul li{
        width: 200px;
        
    }
}



/* section 2  */



.section2{
    background-color:#89b2ec ;
    background-color: #e0e0e047;
    padding: 8% 10%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.section2-items{
   
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



.section2-items img{
    height: 50px;
    width: 50px;
    
}

.section2-items div{
    width:240px ;
}

.section2-items div h3{
    margin-bottom: 5%;
    color: #242323e8;
}



.section2-items div p{
    font-size: 0.9rem;
    letter-spacing: 1.3px;
    color: #413f3fcf;
} 


@media(max-width: 1205px){
    .section2-items{
        margin: 40px 0px;
    }
}

@media(max-width: 768px){

    .section2-items{
        margin: 40px auto;
        
    }

    .section2-items img{
        margin: 15px auto;
    }

    .section2-items div{
        margin: 0px auto;       

    }

}

@media(max-width: 375px){

    .section2-items div{
        text-align: center;      

    }
    
}





/* section 3  */




.section3{
   
    background-color: #fff;
    padding: 8% 3% ;
    text-align: center;
  
}


.section3 h2{
    font-size: 3rem;
    margin-bottom: 5%;
    font-weight: 600;
    color: #242323e8;
}


.section3-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.section3-info div{
    width: 220px;

}

.section3-info img{
    height: 200px;
    width: 200px;
}

.section3-info div h3{
    margin: 10% 0;
    color: #242323e8;
    height: 50px;

}


.section3-info div p{
    font-size: 1rem;
    color: #413f3fcf;
}

@media(max-width : 1180px){
    .section3-info div p{
        margin-bottom: 50px;
    }
}

@media(max-width: 768px){

    .section3{
        padding-top: 100px;
    }

    .section3-info div{
        margin: 40px;
    }
}

@media(max-width: 646px){
    .section3-info div{
        margin: 40px auto;
    }

}








/* contact us - section */

.contact-us{
   
    width: 100%;
    padding-bottom: 50px;
    background-color:  #89b2ec;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.4px;

}

.contact-us h2{
    padding-top: 80px;
    font-size: 2.3rem;
}

.contact-us h3{
    margin: 30px 0px;
    color: #ffffffb8;
}


#contact-us-btn{
    margin: 70px 0px;
}

#contact-us-btn img{
    margin-left: 10px;
} 
 

.our-projects-btn{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.our-projects-btn a:link, a:visited{
    color:#191919e3;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;         
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    background-color: #ffee52;
    border: 1px solid #faee6f; 
}


/* footer-section */



