*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
h2{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family:'Ubuntu', sans-serif ;
    line-height: 1.5;
}



/* navigation bar */





/* title  */


.title{
    height:400px;
    width: 100%;
    background-image: url(../images/residential/1.jpg);
    /* for making background-image responsive  */

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;    
    color: #fff;
    text-align: center;
    line-height: 400px;
    font-weight: bolder;
    /* padding-left: 10%; */
    
}

.title h1{
    font-weight: 600;
}



@media(max-width: 640px){

    .title {
        line-height: 1.2;
        padding-top: 20%;
    }

    .title h1{
        font-size: 3rem;
    }

    .title em{
        display: block;
    }
}



@media(max-width: 425px){

    .title {
        line-height: 1.2;
        padding-top: 32%;
    }
    .title h1{
        font-size: 2.8rem;
    }
    .title em{
        display: block;
    }
}





 /* residential services section */



.residential-services{
    padding: 100px 0px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}


.residential-services-items{
    height: 230px;
    width: 500px;
    text-align: center;   
    margin-bottom: 50px;
    border-bottom: 2px solid #ebebeb;
}

.residential-services-items h3{
    margin: 20px 0px;
    letter-spacing: 1.3px;

}


@media(max-width: 1440px)
{

    
.residential-services-items{
    height: 230px;
    width: 350px;
    text-align: center;   
    margin-bottom: 50px;
    border-bottom: 2px solid #ebebeb;
}


}



@media(max-width: 1000px)
{

    
.residential-services-items{
    height: 230px;
    width: 300px;
    text-align: center;   
    margin-bottom: 50px;
    border-bottom: 2px solid #ebebeb;
}


.residential-services{
    
    width: 90%;
    margin: 0 auto;
 
}


}




@media(max-width: 670px)
{

    
.residential-services-items{
    height: 230px;
    width: 300px;
    display: block;
    margin: 50px auto;
 
}


.residential-services{
    padding: 50px 0px;
    width: 90%;
   
}


}





/* contact us  */




.contact-us{
    /* margin: 30px 0px; */
    /* height: 400px; */
    width: 100%;
    padding-bottom: 50px;
    background-color:  #89b2ec;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.4px;

}

.contact-us h2{
    padding-top: 80px;
    font-size: 2.3rem;
}

.contact-us h3{
    margin: 30px 0px;
    color: #ffffffb8;
}


#contact-us-btn{
    margin: 70px 0px;
}

#contact-us-btn img{
    margin-left: 10px;
} 
 

.our-projects-btn{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.our-projects-btn a:link, a:visited{
    color:#191919e3;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;         
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    background-color: #ffee52;
    border: 1px solid #faee6f; 
}




/* footer  */


