*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h2{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family:'Ubuntu', sans-serif ;
    line-height: 1.5;
}



/* navigation bar */




/* title  */





.title{
    height:400px;
    width: 100%;
    background-image: url(../images/services/title-pic.jpg);
    /* for making background-image responsive  */

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    
    color: #fff;
    text-align: center;
    line-height: 400px;
    font-weight: bolder;
    /* padding-left: 10%; */
    
}

.title h1{
    font-weight: 600;
}






/* section-1 */



.section1{
    /* height: 800px; */
    width: 100%;
    text-align: center;
    padding: 100px 0px;
    background-color: #e0e0e047;
}



.section1-sub{
    width: 85%;
    margin: 0px auto;
}

.section1-sub p{
    font-size: 1.4rem;
    text-align: center;
    margin: 0px auto;
    letter-spacing: 1.3px;
    color: #413f3fcf;
}


.section1-services{
    width: 60%;    
    margin: 100px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}






.section1-services img{
    height: 350px;
    width: 450px;
}

.section1-services img {
    transition:transform 0.25s ease;
}


.section1-services img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}








@media(max-width: 1652px){

     .section1-services img{   
        width: 400px;     
        margin-bottom: 50px;
    }
}


@media(max-width: 1134px){

    .section1-services img{   
        width: 400px;     
        margin-bottom: 50px;
    }
}

@media(max-width: 1024px)
{
    .section1-services img{        
        margin-bottom: 50px;
    }
}
@media(max-width: 430px){
    
.section1-services img{
    width: 300px;
    margin-bottom: 50px;
}

.section1-services img:hover {
    -webkit-transform:scale(1); 
    transform:scale(1);
}

}





/* contact us  */


.contact-us{
    /* margin: 30px 0px; */
    /* height: 400px; */
    width: 100%;
    padding-bottom: 50px;
    background-color:  #89b2ec;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.4px;

}

.contact-us h2{
    padding-top: 80px;
    font-size: 2.3rem;
}

.contact-us h3{
    margin: 30px 0px;
    color: #ffffffb8;
}


#contact-us-btn{
    margin: 70px 0px;
}

#contact-us-btn img{
    margin-left: 10px;
} 
 

.our-projects-btn{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.our-projects-btn a:link, a:visited{
    color:#191919e3;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;         
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    background-color: #ffee52;
    border: 1px solid #faee6f; 
}






/* footer  */


